{
 "NODE_ENV": "dev",
 "PORT": 4000,
 "LOG_PATH": "./api.log",

 "COOKIE_DOMAIN": "",

 "REDIS:HOST": "127.0.0.1",
 "REDIS:PORT": 6379,
 "REDIS:PASSWORD": "",


 "SQL:HOST": "127.0.0.1",
 "SQL:PORT": 3306,
 "SQL:USERNAME": "root",
 "SQL:PASSWORD": "",
 "SQL:DB_NAME": "hoppedin",
 "SQL:DIALECT": "mysql",

 "JWT:SECRET": "secret:{siteId}:x-access-token:$sfk32!09%ghaq32!"
}